.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.heading{
  text-align: center;
}

.task-form {
    margin-bottom: 20px;
}

.task-form input,
.task-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}

.task-form button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.task-list .task-item {
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;

}

.task-list .task-item h3 {
    margin-top: 0;
}

.task-list .task-item p {
    margin-bottom: 5px;
}

.task-list .task-item .task-buttons button {
    margin-right: 5px;
    font-family: 'Times New Roman', Times, serif;
   /* border: 1px solid #ccc;  */
    /* border-radius: 10px; */
    font-size: 12px;
}
